	<div class="oscurecer" id="oscurecer"></div>
	<div class="registrar" id="registrar">
		<h1>Registro</h1>
		<form action="">
			<input type="text" placeholder="Nombre">
			<input type="text" placeholder="Correo">
			<input type="password" placeholder="Contraseña">
			<input type="button" value="Crear">
		</form>
	</div>