
<%= content_for :intro do %>
<h3>DAR DE BAJA A TU USUARIO</h3>
<% end %>

<div class="row">

    <div class="col-sm-4">
          <p align="justify">Antes de eliminar tu usuario, podras dejarnos uno comentario de tu experiencia gracias  </p> 


     <div class="form-group">   
         <p>Comentario:</p> 


    <textarea class="form-control" id="comentario" placeholder="comentario" rows="8"></textarea>

    </div>

    </div>

     
    <div class="col-sm-8">
           <button type="button" class="btn btn-warning" onclick='alert("se esta eliminando su cuenta")'>Eliminar tu cuenta</button>
        <button type="button" class="btn btn-success" onclick='alert("Cancelando")'>Cancelar
        </button>  
    </div>

</div>
 

