
<%= content_for :intro do %>
<h3>HISTORIAL DE ESTACIONAMIENTOS</h3>
<% end %>


<div class ="col-md-9" class="card">
  <div class="card-header">

  </div>
  <ul class="list-group list-group-flush">
    <a href="" ><li class="list-group-item">San Isidro /Exterior /1er Piso/2.4 *5m</li></a>
    <a href="" ><li class="list-group-item">San Miguel /interior /1er Piso/2.4 *5m</li></a>
    <a href="" ><li class="list-group-item">Magdalena /Exterior /2er Piso/2.4 *5m</li></a>
    <a href="" ><li class="list-group-item">Callao /interior /1er Piso/2.4 *5m</li></a>
    <a href="" ><li class="list-group-item">San Isidro /Exterior /1er Piso/2.4 *5m</li></a>
    <a href="" ><li class="list-group-item">San Isidro /interior /3er Piso/2.4 *5m</li></a>
    <a href="" ><li class="list-group-item">San Isidro /Exterior /1er Piso/2.4 *5m</li></a>
  </ul>
</div>
