
<%= content_for :intro do %>
<h1>Bienvenido a la plataforma Freeparking... </h1>
<% end %>


<div class="col-sm-9">



<div class="row">
 <div class="col-lg-7">
 	
<p align="justify">Para que pueda disfrutar de todos nuetsro servicios es necesario que rellene su perfil si ya lo ha realizado hacer click en INICIO </p>


<h3> Gracias </h3>

<img src="" style="height: 400px;width: 100%">

 <div class="trans">   
    	 <a class="btn btn-success btn-responsive btninter centrado" role="button" href=<%= root_path %>>INICIO</a> &nbsp&nbsp&nbsp&nbsp
    	  <a href="servicios" type="button" class="btn btn-warning btn-responsive btninter centrado" onclick='alert("se ha registrado su servicio")'>CERRAR SESION</a>
 </div>
   
</div>
   
</div>
   
</div>