
<div class="container">
<h1>DESCUBRE TODOS LOS ESTACIONAMIENTOS QUE TENEMOS PARA TI</h1>

<h3>Más que un lugar para estacionar</h3>


<br>
<br>
<br>

<div class="row">
  <div class="col-lg-8">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle"
                data-toggle="dropdown">
          Distrito <span class="caret"></span>
        </button>
         <ul class="dropdown-menu" role="menu">
          <li><a href="#" data-value="Ubicacíón">Ubicación</a></li>
          <li><a href="#" data-value="Tipo">Tipo</a></li>
          <li><a href="#" data-value="Precio">Precio</a></li>
          <li><a href="#" data-value="Puntuación">Puntuación</a></li>
        </ul>
      </div>
       <input type="text" class="form-control input-lg" placeholder="Buscar..." >
   </div>
  </div>
  
<p><a class="btn btn-primary btn-lg" href="buscar" role="button"><i class="fa fa-search"></i>    BUSCAR</a>   </p>
</div>
</div>

