<%= content_for :head do %>
	<title>Nosotros</title>
<% end %>

<%= content_for :header_sub_title do %><% end %>

<%= content_for :intro do %>

<hi class="main-title">Acerca de nosotros</hi>

<h1>Enginer World</h1>



<h4>"Soluciones de desarrollo de Aplicaciones web"</h4>

<% end %>
      <div class="row">
        <div class="col-lg-7">
        <p align="justify">Somos una consultora, dedicada al desarrollo de software para ayudarlos a alcanzar sus objetivos tecnológicos.
        </p>
        <p align="justify">Enginer World es una consultora de desarrollo de software con sede en Perú, que ofrece a las empresas soluciones de tecnología personalizadas. Combinamos experiencia tecnológica, experiencia especifica en el dominio y pasión por la excelencia para ofrecer soluciones a nivel empresarial.    	
        </p>
        <h3>Nuestra Visión:  	
        </h3>
        <p align="justify">Utilizar la innovación y la creatividad para proporcionar servicios de desarrollo de software e implementar dichos mecanismos para mejorar la eficiencia del negocio de nuestros clientes.
        </p>
        <h3>Nuestra Misión:
        </h3>
        <p align="justify">Utilizar la innovación y la creatividad para proporcionar servicios de desarrollo de software e implementar dichos mecanismos para mejorar la eficiencia del negocio de nuestros clientes.        	
        </p>
    	</div> 
 		<div class="col-lg-5">    
 			<img src="https://image.ibb.co/k2HdVA/nosostros.jpg" class="img-responsive" alt="">
		</div> 			
        </div>            
            
