<%= content_for :head do %>
	<title>Servicios</title>
<% end %>
<%= content_for :header_sub_title do %><% end %>
<%= content_for :intro do %>
<hi class="main-title">Servicios:</hi>


<h1>Esta aplicación se desarrolló debido a la alta demanda de espacios para estacionar los vehículos particulares.</h1>
<% end %>
    <div class="row">
        <div class="col-lg-2">
        </div> 

        <div class="col-lg-4">
         <h3>Para dueños: 	
        </h3>
       <img src="https://image.ibb.co/kNHvdV/due-o.jpg" class="img-responsive" alt="">
        <p align="justify">Si tienes un espacio libre para estacionar vehículos y no sabes cómo obtener un ingreso extra. Pensar en alquilar este espacio será tu mejor opción. En nuestra aplicación web podrás registrarlo y ponerlo a la vista de todos. Permitiéndole editarlo o eliminarlo según sea su disposición. Además, Te brindamos la opción de registrar servicios adicionales como de limpieza, planchado, pintura, etc. Que puedas ofrecer para que tu estacionamiento sea uno de los preferidos por el público y a su vez obtener más ganancias.
        </p>
        <p align="justify">Te brindamos una lista detallada de tus estacionamientos alquilados para que verifiques constantemente tus ingresos.    	
        </p>
        </div> 
 		<div class="col-lg-4">    
 		<h3>Para los Clientes: 	
        </h3>
        <img src=https://image.ibb.co/hjniXq/cliente.jpg" class="img-responsive" alt="">
        <p align="justify">Si eres de las personas que no encuentran un lugar donde estacionar y deseas reducir esta frustración en nuestra caótica ciudad, Freparking le ofrece la solución que estabas esperando, contamos con una lista detallada de estacionamientos, que los dueños ofrecen para su vehículo en toda la ciudad, la cual usted podrá separar con solo unos clicks desde su pc, laptop o teléfono móvil. Además, podrá solicitar servicios adicionales de limpieza, planchado, pintura, etc. A precios muy asequibles.
        </p>
    	</div> 
        <div class="col-lg-2"> 
         </div>   
    </div> 