  <nav class="menu_cliente" role="navigation">
    <ul>
    	<a href=<%= perfil_path %>>
      <li>
        <div class="barra"> </div>
        <p class="menu">Editar Perfil</p>
      </li>
  		</a>

        <a href=<%= historial_path %>>
      <li>
        <div class="barra"> </div>
       <p class="menu">Historial</p> 

      </li>
    	</a>

    	<a href=<%= baja_path %>>
      <li>
        <div class="barra"> </div>
        <p class="menu">Darse de Baja</p>
      </li>
      	</a>
      	
    </ul>
  </nav>